/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

*{
    padding: 0;
    margin: 0;
    
}

body{
    overflow: hidden !important;
}

.card{
    position: relative;
    height: fit-content;
    width: 240px;
    padding: 12px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.card-style{
    display: flex;
    gap: 10px;
}



.product-img-container{
    padding: 10px;
    border: 1px solid #00000026;
    border-radius: 10px;
}

.fresho{
    color: #000000a6;
}

.title{
    color: rgba(32, 32, 32, 1);
    line-height: 1.25rem;
    font-size: 18px;

}

.offer-tag{
    position: absolute;
    top: 12px;
    left: 12px;
}

.offer-tag span{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.125rem 0.625rem;
    border-radius: 0.5rem 0px;
    background-color: rgba(71, 111, 0, 1);
    color: white;
}







